@import url("https://fonts.googleapis.com/css2?family=Notable&family=Source+Code+Pro&display=swap");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font: normal 1em/1.45em "Source Code pro", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: white;
  background: radial-gradient(ellipse at bottom, #12121e 0%, #050608 100%);
  background-attachment: fixed;
}

.navbar-customclass {
  background-color: black;
}
.navbar-customclass .navbar-brand, .navbar-customclass .navbar-text {
  color: #ffffff;
}
.navbar-customclass .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
}
.navbar-customclass .nav-item.active .nav-link, .navbar-customclass .nav-item:hover .nav-link {
  color: skyblue;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

.sistema-solar {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.sistema-solar:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  top: -2px;
  background: white;
  box-shadow: 1183px 682px 0 0px rgba(255, 255, 255, 0.796) , 1329px 1019px 0 0px rgba(255,255,255, 0.583) , 1082px 490px 0 0px rgba(255,255,255, 0.062) , 1430px 1611px 0 0px rgba(255,255,255, 0.719) , 780px 1664px 0 0px rgba(255,255,255, 0.68) , 656px 1137px 0 0px rgba(255,255,255, 0.062) , 1171px 393px 0 0px rgba(255,255,255, 0.076) , 920px 1473px 0 0px rgba(255,255,255, 0.115) , 295px 1760px 0 0px rgba(255,255,255, 0.94) , 946px 1170px 0 0px rgba(255,255,255, 0.869) , 1787px 1791px 0 0px rgba(255,255,255, 0.888) , 916px 1221px 0 0px rgba(255,255,255, 0.76) , 328px 581px 0 0px rgba(255,255,255, 0.192) , 1136px 21px 0 0px rgba(255,255,255, 0.495) , 1164px 1160px 0 0px rgba(255,255,255, 0.692) , 604px 292px 0 0px rgba(255,255,255, 0.221) , 344px 57px 0 0px rgba(255,255,255, 0.254) , 1674px 661px 0 0px rgba(255,255,255, 0.277) , 1426px 51px 0 0px rgba(255,255,255, 0.749) , 321px 829px 0 0px rgba(255,255,255, 0.961) , 494px 213px 0 0px rgba(255,255,255, 0.211) , 1012px 1705px 0 0px rgba(255,255,255, 0.984) , 1554px 281px 0 0px rgba(255,255,255, 0.239) , 1644px 1649px 0 0px rgba(255,255,255, 0.021) , 31px 515px 0 0px rgba(255,255,255, 0.276) , 887px 541px 0 0px rgba(255,255,255, 0.168) , 1577px 793px 0 0px rgba(255,255,255, 0.019) , 1321px 1164px 0 0px rgba(255,255,255, 0.972) , 773px 615px 0 0px rgba(255,255,255, 0.345) , 67px 1377px 0 0px rgba(255,255,255, 0.056) , 354px 1070px 0 0px rgba(255,255,255, 0.083) , 1747px 99px 0 0px rgba(255,255,255, 0.43) , 396px 1066px 0 0px rgba(255,255,255, 0.755) , 371px 328px 0 0px rgba(255,255,255, 0.471) , 1254px 995px 0 0px rgba(255,255,255, 0.296) , 326px 343px 0 0px rgba(255,255,255, 0.807) , 1113px 1010px 0 0px rgba(255,255,255, 0.714) , 218px 1550px 0 0px rgba(255,255,255, 0.107) , 1595px 1196px 0 0px rgba(255,255,255, 0.932) , 1205px 184px 0 0px rgba(255,255,255, 0.861) , 1646px 203px 0 0px rgba(255,255,255, 0.496) , 526px 45px 0 0px rgba(255,255,255, 0.977) , 613px 1562px 0 0px rgba(255,255,255, 0.923) , 601px 1664px 0 0px rgba(255,255,255, 0.275) , 1135px 936px 0 0px rgba(255,255,255, 0.257) , 1300px 791px 0 0px rgba(255,255,255, 0.914) , 554px 160px 0 0px rgba(255,255,255, 0.304) , 285px 1777px 0 0px rgba(255,255,255, 0.907) , 1060px 1410px 0 0px rgba(255,255,255, 0.645) , 1411px 710px 0 0px rgba(255,255,255, 0.417) , 1583px 1552px 0 0px rgba(255,255,255, 0.894) , 999px 1038px 0 0px rgba(255,255,255, 0.732) , 992px 810px 0 0px rgba(255,255,255, 0.652) , 43px 367px 0 0px rgba(255,255,255, 0.877) , 1082px 149px 0 0px rgba(255,255,255, 0.05) , 901px 248px 0 0px rgba(255,255,255, 0.264) , 1197px 1433px 0 0px rgba(255,255,255, 0.141) , 776px 1033px 0 0px rgba(255,255,255, 0.394) , 1381px 1664px 0 0px rgba(255,255,255, 0.292) , 618px 1603px 0 0px rgba(255,255,255, 0.006) , 389px 333px 0 0px rgba(255,255,255, 0.119) , 1095px 1655px 0 0px rgba(255,255,255, 0.295) , 249px 1469px 0 0px rgba(255,255,255, 0.161) , 14px 1765px 0 0px rgba(255,255,255, 0.897) , 1135px 1311px 0 0px rgba(255,255,255, 0.987) , 1067px 1589px 0 0px rgba(255,255,255, 0.332) , 544px 1478px 0 0px rgba(255,255,255, 0.815) , 710px 1278px 0 0px rgba(255,255,255, 0.396) , 1620px 359px 0 0px rgba(255,255,255, 0.021) , 1773px 1599px 0 0px rgba(255,255,255, 0.747) , 804px 763px 0 0px rgba(255,255,255, 0.148) , 1265px 355px 0 0px rgba(255,255,255, 0.456) , 1554px 41px 0 0px rgba(255,255,255, 0.802) , 1744px 1034px 0 0px rgba(255,255,255, 0.797) , 872px 1526px 0 0px rgba(255,255,255, 0.731) , 392px 332px 0 0px rgba(255,255,255, 0.312) , 897px 900px 0 0px rgba(255,255,255, 0.918) , 335px 190px 0 0px rgba(255,255,255, 0.144) , 596px 1333px 0 0px rgba(255,255,255, 0.454) , 431px 942px 0 0px rgba(255,255,255, 0.031) , 141px 1357px 0 0px rgba(255,255,255, 0.572) , 754px 142px 0 0px rgba(255,255,255, 0.835) , 1732px 142px 0 0px rgba(255,255,255, 0.765) , 646px 673px 0 0px rgba(255,255,255, 0.611) , 914px 1561px 0 0px rgba(255,255,255, 0.001) , 247px 1590px 0 0px rgba(255,255,255, 0.339) , 101px 224px 0 0px rgba(255,255,255, 0.252) , 1066px 1026px 0 0px rgba(255,255,255, 0.916) , 1472px 664px 0 0px rgba(255,255,255, 0.125) , 1008px 722px 0 0px rgba(255,255,255, 0.382) , 143px 1678px 0 0px rgba(255,255,255, 0.268) , 540px 581px 0 0px rgba(255,255,255, 0.744) , 1717px 1505px 0 0px rgba(255,255,255, 0.858) , 1705px 1653px 0 0px rgba(255,255,255, 0.568) , 529px 481px 0 0px rgba(255,255,255, 0.94) , 1479px 1240px 0 0px rgba(255,255,255, 0.535) , 684px 530px 0 0px rgba(255,255,255, 0.8) , 704px 1188px 0 0px rgba(255,255,255, 0.674) , 731px 569px 0 0px rgba(255,255,255, 0.461) , 638px 692px 0 0px rgba(255,255,255, 0.512) , 278px 1444px 0 0px rgba(255,255,255, 0.104) , 346px 1310px 0 0px rgba(255,255,255, 0.154) , 1031px 1191px 0 0px rgba(255,255,255, 0.048) , 289px 288px 0 0px rgba(255,255,255, 0.433) , 1655px 927px 0 0px rgba(255,255,255, 0.038) , 1533px 1255px 0 0px rgba(255,255,255, 0.64) , 155px 784px 0 0px rgba(255,255,255, 0.034) , 997px 264px 0 0px rgba(255,255,255, 0.928) , 807px 973px 0 0px rgba(255,255,255, 0.179) , 413px 453px 0 0px rgba(255,255,255, 0.461) , 1504px 1249px 0 0px rgba(255,255,255, 0.047) , 1367px 138px 0 0px rgba(255,255,255, 0.895) , 1488px 11px 0 0px rgba(255,255,255, 0.014) , 758px 519px 0 0px rgba(255,255,255, 0.658) , 581px 672px 0 0px rgba(255,255,255, 0.461) , 905px 1464px 0 0px rgba(255,255,255, 0.909) , 455px 1690px 0 0px rgba(255,255,255, 0.525) , 410px 58px 0 0px rgba(255,255,255, 0.416) , 1545px 641px 0 0px rgba(255,255,255, 0.436) , 120px 1636px 0 0px rgba(255,255,255, 0.891) , 1534px 276px 0 0px rgba(255,255,255, 0.274) , 1293px 1244px 0 0px rgba(255,255,255, 0.777) , 1493px 512px 0 0px rgba(255,255,255, 0.753) , 241px 895px 0 0px rgba(255,255,255, 0.275) , 42px 1037px 0 0px rgba(255,255,255, 0.777) , 959px 1465px 0 0px rgba(255,255,255, 0.667) , 1186px 510px 0 0px rgba(255,255,255, 0.704) , 1620px 1341px 0 0px rgba(255,255,255, 0.862) , 315px 816px 0 0px rgba(255,255,255, 0.196) , 1768px 1786px 0 0px rgba(255,255,255, 0.69) , 1581px 1388px 0 0px rgba(255,255,255, 0.343) , 1110px 344px 0 0px rgba(255,255,255, 0.572) , 767px 1290px 0 0px rgba(255,255,255, 0.817) , 423px 1142px 0 0px rgba(255,255,255, 0.722) , 1163px 1080px 0 0px rgba(255,255,255, 0.296) , 1672px 1406px 0 0px rgba(255,255,255, 0.309) , 1228px 195px 0 0px rgba(255,255,255, 0.263) , 614px 150px 0 0px rgba(255,255,255, 0.277) , 1187px 1517px 0 0px rgba(255,255,255, 0.867) , 236px 1396px 0 0px rgba(255,255,255, 0.575) , 126px 668px 0 0px rgba(255,255,255, 0.11) , 1799px 301px 0 0px rgba(255,255,255, 0.929) , 452px 923px 0 0px rgba(255,255,255, 0.031) , 727px 1412px 0 0px rgba(255,255,255, 0.267) , 814px 1199px 0 0px rgba(255,255,255, 0.985) , 846px 1083px 0 0px rgba(255,255,255, 0.438) , 1004px 1479px 0 0px rgba(255,255,255, 0.255) , 1157px 111px 0 0px rgba(255,255,255, 0.553) , 964px 378px 0 0px rgba(255,255,255, 0.509) , 1400px 1244px 0 0px rgba(255,255,255, 0.027) , 357px 978px 0 0px rgba(255,255,255, 0.431) , 232px 750px 0 0px rgba(255,255,255, 0.906) , 1432px 76px 0 0px rgba(255,255,255, 0.615) , 206px 818px 0 0px rgba(255,255,255, 0.147) , 730px 1218px 0 0px rgba(255,255,255, 0.282) , 468px 1300px 0 0px rgba(255,255,255, 0.562) , 328px 963px 0 0px rgba(255,255,255, 0.232) , 92px 1316px 0 0px rgba(255,255,255, 0.67) , 1472px 1051px 0 0px rgba(255,255,255, 0.245) , 957px 165px 0 0px rgba(255,255,255, 0.563) , 1494px 685px 0 0px rgba(255,255,255, 0.927) , 1301px 1214px 0 0px rgba(255,255,255, 0.783) , 1065px 1572px 0 0px rgba(255,255,255, 0.544) , 576px 55px 0 0px rgba(255,255,255, 0.187) , 1097px 863px 0 0px rgba(255,255,255, 0.612) , 200px 473px 0 0px rgba(255,255,255, 0.178) , 413px 256px 0 0px rgba(255,255,255, 0.518) , 1063px 1601px 0 0px rgba(255,255,255, 0.07) , 1295px 408px 0 0px rgba(255,255,255, 0.742) , 676px 274px 0 0px rgba(255,255,255, 0.52) , 1378px 1653px 0 0px rgba(255,255,255, 0.972) , 1340px 1261px 0 0px rgba(255,255,255, 0.696) , 1005px 1565px 0 0px rgba(255,255,255, 0.938) , 1295px 135px 0 0px rgba(255,255,255, 0.307) , 1593px 985px 0 0px rgba(255,255,255, 0.074) , 73px 1491px 0 0px rgba(255,255,255, 0.703) , 1505px 1481px 0 0px rgba(255,255,255, 0.341) , 576px 1692px 0 0px rgba(255,255,255, 0.373) , 1534px 354px 0 0px rgba(255,255,255, 0.034) , 1165px 1438px 0 0px rgba(255,255,255, 0.041) , 850px 262px 0 0px rgba(255,255,255, 0.151) , 1481px 1463px 0 0px rgba(255,255,255, 0.945) , 1037px 407px 0 0px rgba(255,255,255, 0.413) , 445px 1705px 0 0px rgba(255,255,255, 0.549) , 1603px 687px 0 0px rgba(255,255,255, 0.912) , 1670px 453px 0 0px rgba(255,255,255, 0.318) , 800px 1755px 0 0px rgba(255,255,255, 0.745) , 779px 1241px 0 0px rgba(255,255,255, 0.966) , 54px 72px 0 0px rgba(255,255,255, 0.392) , 1601px 468px 0 0px rgba(255,255,255, 0.876) , 1401px 1647px 0 0px rgba(255,255,255, 0.376) , 830px 440px 0 0px rgba(255,255,255, 0.635) , 422px 1202px 0 0px rgba(255,255,255, 0.757) , 55px 1235px 0 0px rgba(255,255,255, 0.41) , 1081px 1692px 0 0px rgba(255,255,255, 0.615) , 757px 573px 0 0px rgba(255,255,255, 0.971) , 130px 359px 0 0px rgba(255,255,255, 0.91) , 1572px 1146px 0 0px rgba(255,255,255, 0.277) , 343px 1109px 0 0px rgba(255,255,255, 0.432) , 1208px 1753px 0 0px rgba(255,255,255, 0.301) , 1625px 658px 0 0px rgba(255,255,255, 0.205) , 942px 305px 0 0px rgba(255,255,255, 0.721) , 466px 763px 0 0px rgba(255,255,255, 0.282) , 25px 1582px 0 0px rgba(255,255,255, 0.08) , 801px 21px 0 0px rgba(255,255,255, 0.049) , 412px 65px 0 0px rgba(255,255,255, 0.652) , 386px 68px 0 0px rgba(255,255,255, 0.236) , 50px 296px 0 0px rgba(255,255,255, 0.527) , 1572px 1697px 0 0px rgba(255,255,255, 0.159) , 737px 1604px 0 0px rgba(255,255,255, 0.294) , 427px 964px 0 0px rgba(255,255,255, 0.667) , 576px 913px 0 0px rgba(255,255,255, 0.661) , 1076px 462px 0 0px rgba(255,255,255, 0.827) , 1566px 1102px 0 0px rgba(255,255,255, 0.988) , 638px 913px 0 0px rgba(255,255,255, 0.665) , 1372px 612px 0 0px rgba(255,255,255, 0.583) , 809px 1638px 0 0px rgba(255,255,255, 0.106) , 823px 995px 0 0px rgba(255,255,255, 0.265) , 1262px 1489px 0 0px rgba(255,255,255, 0.819) , 1695px 805px 0 0px rgba(255,255,255, 0.193) , 1258px 1011px 0 0px rgba(255,255,255, 0.99) , 654px 785px 0 0px rgba(255,255,255, 0.683) , 362px 1171px 0 0px rgba(255,255,255, 0.047) , 413px 979px 0 0px rgba(255,255,255, 0.273) , 548px 173px 0 0px rgba(255,255,255, 0.768) , 671px 1309px 0 0px rgba(255,255,255, 0.417) , 334px 1793px 0 0px rgba(255,255,255, 0.351) , 192px 600px 0 0px rgba(255,255,255, 0.915) , 385px 410px 0 0px rgba(255,255,255, 0.443) , 1616px 1466px 0 0px rgba(255,255,255, 0.871) , 1543px 1652px 0 0px rgba(255,255,255, 0.067) , 832px 1254px 0 0px rgba(255,255,255, 0.265) , 564px 655px 0 0px rgba(255,255,255, 0.37) , 19px 730px 0 0px rgba(255,255,255, 0.354) , 529px 221px 0 0px rgba(255,255,255, 0.738) , 513px 151px 0 0px rgba(255,255,255, 0.579) , 341px 1031px 0 0px rgba(255,255,255, 0.519) , 1049px 133px 0 0px rgba(255,255,255, 0.58) , 1636px 525px 0 0px rgba(255,255,255, 0.04) , 172px 73px 0 0px rgba(255,255,255, 0.311) , 844px 396px 0 0px rgba(255,255,255, 0.412) , 750px 770px 0 0px rgba(255,255,255, 0.949) , 1053px 1236px 0 0px rgba(255,255,255, 0.89) , 1386px 445px 0 0px rgba(255,255,255, 0.16) , 357px 667px 0 0px rgba(255,255,255, 0.729) , 71px 898px 0 0px rgba(255,255,255, 0.418) , 1614px 1798px 0 0px rgba(255,255,255, 0.82) , 1536px 456px 0 0px rgba(255,255,255, 0.576) , 1001px 43px 0 0px rgba(255,255,255, 0.695) , 1523px 107px 0 0px rgba(255,255,255, 0.435) , 1119px 414px 0 0px rgba(255,255,255, 0.764) , 636px 1670px 0 0px rgba(255,255,255, 0.541) , 63px 1384px 0 0px rgba(255,255,255, 0.296) , 1328px 404px 0 0px rgba(255,255,255, 0.717) , 144px 739px 0 0px rgba(255,255,255, 0.667) , 399px 1472px 0 0px rgba(255,255,255, 0.697) , 685px 1750px 0 0px rgba(255,255,255, 0.505) , 1324px 1232px 0 0px rgba(255,255,255, 0.366) , 1579px 1326px 0 0px rgba(255,255,255, 0.238) , 479px 1646px 0 0px rgba(255,255,255, 0.631) , 477px 1675px 0 0px rgba(255,255,255, 0.654) , 1277px 1089px 0 0px rgba(255,255,255, 0.462) , 1207px 1177px 0 0px rgba(255,255,255, 0.859) , 16px 466px 0 0px rgba(255,255,255, 0.136) , 1102px 636px 0 0px rgba(255,255,255, 0.162) , 75px 251px 0 0px rgba(255,255,255, 0.775) , 1592px 246px 0 0px rgba(255,255,255, 0.086) , 1105px 201px 0 0px rgba(255,255,255, 0.015) , 1522px 1259px 0 0px rgba(255,255,255, 0.018) , 537px 1366px 0 0px rgba(255,255,255, 0.246) , 200px 505px 0 0px rgba(255,255,255, 0.533) , 489px 203px 0 0px rgba(255,255,255, 0.986) , 1174px 556px 0 0px rgba(255,255,255, 0.448) , 438px 1286px 0 0px rgba(255,255,255, 0.529) , 194px 202px 0 0px rgba(255,255,255, 0.816) , 1366px 1344px 0 0px rgba(255,255,255, 0.852) , 866px 1553px 0 0px rgba(255,255,255, 0.918) , 100px 225px 0 0px rgba(255,255,255, 0.125) , 1011px 1252px 0 0px rgba(255,255,255, 0.936) , 1459px 158px 0 0px rgba(255,255,255, 0.415) , 905px 1646px 0 0px rgba(255,255,255, 0.49) , 1375px 1447px 0 0px rgba(255,255,255, 0.445) , 609px 570px 0 0px rgba(255,255,255, 0.08) , 77px 1277px 0 0px rgba(255,255,255, 0.427) , 1033px 927px 0 0px rgba(255,255,255, 0.433) , 531px 1134px 0 0px rgba(255,255,255, 0.319) , 1731px 1520px 0 0px rgba(255,255,255, 0.47) , 771px 447px 0 0px rgba(255,255,255, 0.193) , 94px 1754px 0 0px rgba(255,255,255, 0.718) , 1466px 1015px 0 0px rgba(255,255,255, 0.423) , 204px 433px 0 0px rgba(255,255,255, 0.128) , 968px 1787px 0 0px rgba(255,255,255, 0.959) , 434px 855px 0 0px rgba(255,255,255, 0.141) , 1606px 451px 0 0px rgba(255,255,255, 0.311) , 524px 1340px 0 0px rgba(255,255,255, 0.932) , 1775px 533px 0 0px rgba(255,255,255, 0.243) , 36px 1152px 0 0px rgba(255,255,255, 0.63) , 279px 1208px 0 0px rgba(255,255,255, 0.343) , 122px 1742px 0 0px rgba(255,255,255, 0.43) , 550px 609px 0 0px rgba(255,255,255, 0.488) , 202px 612px 0 0px rgba(255,255,255, 0.015) , 757px 1281px 0 0px rgba(255,255,255, 0.474) , 1300px 119px 0 0px rgba(255,255,255, 0.374) , 1469px 1629px 0 0px rgba(255,255,255, 0.372) , 915px 335px 0 0px rgba(255,255,255, 0.177) , 1387px 1341px 0 0px rgba(255,255,255, 0.356) , 114px 1718px 0 0px rgba(255,255,255, 0.07) , 1247px 1640px 0 0px rgba(255,255,255, 0.497) , 1067px 1156px 0 0px rgba(255,255,255, 0.933) , 287px 14px 0 0px rgba(255,255,255, 0.001) , 1665px 403px 0 0px rgba(255,255,255, 0.021) , 1492px 1369px 0 0px rgba(255,255,255, 0.592) , 1067px 91px 0 0px rgba(255,255,255, 0.62) , 1636px 306px 0 0px rgba(255,255,255, 0.907) , 456px 275px 0 0px rgba(255,255,255, 0.122) , 1396px 1335px 0 0px rgba(255,255,255, 0.948) , 796px 104px 0 0px rgba(255,255,255, 0.271) , 465px 1679px 0 0px rgba(255,255,255, 0.884) , 1089px 1299px 0 0px rgba(255,255,255, 0.806) , 1612px 1679px 0 0px rgba(255,255,255, 0.52) , 1754px 624px 0 0px rgba(255,255,255, 0.752) , 1193px 161px 0 0px rgba(255,255,255, 0.432) , 954px 1190px 0 0px rgba(255,255,255, 0.165) , 338px 269px 0 0px rgba(255,255,255, 0.138) , 1586px 519px 0 0px rgba(255,255,255, 0.82) , 569px 547px 0 0px rgba(255,255,255, 0.644) , 912px 1166px 0 0px rgba(255,255,255, 0.721) , 1631px 1383px 0 0px rgba(255,255,255, 0.409) , 1765px 863px 0 0px rgba(255,255,255, 0.187) , 1020px 387px 0 0px rgba(255,255,255, 0.379) , 347px 1168px 0 0px rgba(255,255,255, 0.75) , 1438px 869px 0 0px rgba(255,255,255, 0.195) , 444px 824px 0 0px rgba(255,255,255, 0.222) , 140px 248px 0 0px rgba(255,255,255, 0.971) , 820px 1629px 0 0px rgba(255,255,255, 0.921) , 1580px 1797px 0 0px rgba(255,255,255, 0.353) , 298px 253px 0 0px rgba(255,255,255, 0.966) , 1217px 313px 0 0px rgba(255,255,255, 0.354) , 1302px 398px 0 0px rgba(255,255,255, 0.402) , 631px 449px 0 0px rgba(255,255,255, 0.442) , 829px 229px 0 0px rgba(255,255,255, 0.839) , 718px 442px 0 0px rgba(255,255,255, 0.92) , 1464px 1001px 0 0px rgba(255,255,255, 0.912) , 438px 1398px 0 0px rgba(255,255,255, 0.02) , 1533px 1434px 0 0px rgba(255,255,255, 0.914) , 981px 1498px 0 0px rgba(255,255,255, 0.663) , 1730px 1136px 0 0px rgba(255,255,255, 0.909) , 1375px 1700px 0 0px rgba(255,255,255, 0.337) , 527px 1218px 0 0px rgba(255,255,255, 0.529) , 148px 1196px 0 0px rgba(255,255,255, 0.232) , 964px 1596px 0 0px rgba(255,255,255, 0.465) , 729px 142px 0 0px rgba(255,255,255, 0.635) , 700px 512px 0 0px rgba(255,255,255, 0.103) , 495px 314px 0 0px rgba(255,255,255, 0.53) , 1146px 1378px 0 0px rgba(255,255,255, 0.545) , 108px 1658px 0 0px rgba(255,255,255, 0.486) , 841px 246px 0 0px rgba(255,255,255, 0.347) , 819px 235px 0 0px rgba(255,255,255, 0.118) , 908px 29px 0 0px rgba(255,255,255, 0.16) , 1001px 1685px 0 0px rgba(255,255,255, 0.597) , 839px 59px 0 0px rgba(255,255,255, 0.445) , 1117px 1147px 0 0px rgba(255,255,255, 0.524) , 1312px 737px 0 0px rgba(255,255,255, 0.742) , 985px 1702px 0 0px rgba(255,255,255, 0.407) , 336px 778px 0 0px rgba(255,255,255, 0.586) , 1684px 762px 0 0px rgba(255,255,255, 0.1) , 286px 489px 0 0px rgba(255,255,255, 0.962) , 1352px 701px 0 0px rgba(255,255,255, 0.048) , 868px 1257px 0 0px rgba(255,255,255, 0.564) , 435px 1026px 0 0px rgba(255,255,255, 0.036) , 1037px 1607px 0 0px rgba(255,255,255, 0.119) , 708px 1315px 0 0px rgba(255,255,255, 0.331) , 1404px 32px 0 0px rgba(255,255,255, 0.514) , 1728px 785px 0 0px rgba(255,255,255, 0.368) , 1033px 617px 0 0px rgba(255,255,255, 0.761) , 821px 242px 0 0px rgba(255,255,255, 0.736) , 1341px 1101px 0 0px rgba(255,255,255, 0.408) , 1088px 668px 0 0px rgba(255,255,255, 0.626) , 404px 636px 0 0px rgba(255,255,255, 0.487) , 891px 939px 0 0px rgba(255,255,255, 0.959) , 1086px 213px 0 0px rgba(255,255,255, 0.959) , 1354px 1239px 0 0px rgba(255,255,255, 0.829) , 323px 905px 0 0px rgba(255,255,255, 0.235) , 1161px 813px 0 0px rgba(255,255,255, 0.988) , 570px 674px 0 0px rgba(255,255,255, 0.251) , 1757px 565px 0 0px rgba(255,255,255, 0.68) , 593px 315px 0 0px rgba(255,255,255, 0.845) , 1637px 1720px 0 0px rgba(255,255,255, 0.556) , 1675px 1625px 0 0px rgba(255,255,255, 0.705) , 749px 28px 0 0px rgba(255,255,255, 0.654) , 1388px 122px 0 0px rgba(255,255,255, 0.469) , 1749px 617px 0 0px rgba(255,255,255, 0.523) , 1434px 1047px 0 0px rgba(255,255,255, 0.847) , 1581px 1200px 0 0px rgba(255,255,255, 0.759) , 1138px 467px 0 0px rgba(255,255,255, 0.658) , 1189px 1299px 0 0px rgba(255,255,255, 0.485) , 1284px 230px 0 0px rgba(255,255,255, 0.704) , 1172px 133px 0 0px rgba(255,255,255, 0.423) , 274px 1452px 0 0px rgba(255,255,255, 0.711) , 1202px 75px 0 0px rgba(255,255,255, 0.869) , 271px 1538px 0 0px rgba(255,255,255, 0.415) , 1776px 1224px 0 0px rgba(255,255,255, 0.311) , 677px 1393px 0 0px rgba(255,255,255, 0.958) , 1189px 1502px 0 0px rgba(255,255,255, 0.313) , 293px 3px 0 0px rgba(255,255,255, 0.639) , 1385px 893px 0 0px rgba(255,255,255, 0.367) , 1292px 1527px 0 0px rgba(255,255,255, 0.069) , 8px 1300px 0 0px rgba(255,255,255, 0.189) , 396px 1372px 0 0px rgba(255,255,255, 0.706) , 1230px 527px 0 0px rgba(255,255,255, 0.05) , 838px 1319px 0 0px rgba(255,255,255, 0.144) , 542px 797px 0 0px rgba(255,255,255, 0.605) , 389px 379px 0 0px rgba(255,255,255, 0.586) , 89px 1494px 0 0px rgba(255,255,255, 0.617) , 100px 1037px 0 0px rgba(255,255,255, 0.747) , 779px 338px 0 0px rgba(255,255,255, 0.904) , 148px 256px 0 0px rgba(255,255,255, 0.005) , 47px 961px 0 0px rgba(255,255,255, 0.016) , 563px 1713px 0 0px rgba(255,255,255, 0.637) , 674px 686px 0 0px rgba(255,255,255, 0.562) , 1575px 1012px 0 0px rgba(255,255,255, 0.812) , 1200px 1513px 0 0px rgba(255,255,255, 0.822) , 125px 1763px 0 0px rgba(255,255,255, 0.326) , 1038px 922px 0 0px rgba(255,255,255, 0.016) , 593px 605px 0 0px rgba(255,255,255, 0.989) , 448px 815px 0 0px rgba(255,255,255, 0.551) , 1167px 94px 0 0px rgba(255,255,255, 0.347) , 288px 1025px 0 0px rgba(255,255,255, 0.463) , 227px 155px 0 0px rgba(255,255,255, 0.536) , 1517px 693px 0 0px rgba(255,255,255, 0.331) , 1040px 609px 0 0px rgba(255,255,255, 0.879) , 1409px 918px 0 0px rgba(255,255,255, 0.099) , 1673px 1547px 0 0px rgba(255,255,255, 0.736) , 1594px 1032px 0 0px rgba(255,255,255, 0.361) , 883px 1233px 0 0px rgba(255,255,255, 0.102) , 195px 414px 0 0px rgba(255,255,255, 0.623) , 98px 341px 0 0px rgba(255,255,255, 0.944) , 1062px 1174px 0 0px rgba(255,255,255, 0.767) , 792px 1112px 0 0px rgba(255,255,255, 0.685) , 1648px 711px 0 0px rgba(255,255,255, 0.849) , 8px 1102px 0 0px rgba(255,255,255, 0.092) , 1041px 1403px 0 0px rgba(255,255,255, 0.548) , 584px 517px 0 0px rgba(255,255,255, 0.521) , 84px 713px 0 0px rgba(255,255,255, 0.215) , 156px 1554px 0 0px rgba(255,255,255, 0.432) , 164px 1799px 0 0px rgba(255,255,255, 0.268) , 616px 1283px 0 0px rgba(255,255,255, 0.44) , 1048px 1430px 0 0px rgba(255,255,255, 0.554) , 121px 4px 0 0px rgba(255,255,255, 0.109) , 102px 1792px 0 0px rgba(255,255,255, 0.296) , 692px 221px 0 0px rgba(255,255,255, 0.202) , 417px 63px 0 0px rgba(255,255,255, 0.043) , 1653px 693px 0 0px rgba(255,255,255, 0.756) , 916px 256px 0 0px rgba(255,255,255, 0.367) , 204px 1306px 0 0px rgba(255,255,255, 0.72) , 1717px 1639px 0 0px rgba(255,255,255, 0.844) , 862px 1481px 0 0px rgba(255,255,255, 0.452) , 525px 658px 0 0px rgba(255,255,255, 0.474) , 1103px 891px 0 0px rgba(255,255,255, 0.732) , 196px 1631px 0 0px rgba(255,255,255, 0.63) , 1702px 12px 0 0px rgba(255,255,255, 0.897) , 1716px 25px 0 0px rgba(255,255,255, 0.458) , 475px 843px 0 0px rgba(255,255,255, 0.977) , 1196px 1582px 0 0px rgba(255,255,255, 0.186) , 1078px 1240px 0 0px rgba(255,255,255, 0.199) , 419px 493px 0 0px rgba(255,255,255, 0.011) , 1575px 815px 0 0px rgba(255,255,255, 0.89) , 1354px 1142px 0 0px rgba(255,255,255, 0.66) , 1566px 1073px 0 0px rgba(255,255,255, 0.575) , 686px 33px 0 0px rgba(255,255,255, 0.166) , 1157px 1653px 0 0px rgba(255,255,255, 0.519) , 1210px 1761px 0 0px rgba(255,255,255, 0.12) , 997px 1291px 0 0px rgba(255,255,255, 0.784) , 10px 1712px 0 0px rgba(255,255,255, 0.899) , 1278px 1458px 0 0px rgba(255,255,255, 0.01) , 552px 1765px 0 0px rgba(255,255,255, 0.449) , 516px 1009px 0 0px rgba(255,255,255, 0.329) , 984px 152px 0 0px rgba(255,255,255, 0.409) , 1078px 1531px 0 0px rgba(255,255,255, 0.891) , 125px 1544px 0 0px rgba(255,255,255, 0.356) , 970px 1469px 0 0px rgba(255,255,255, 0.535) , 1184px 1503px 0 0px rgba(255,255,255, 0.361) , 809px 417px 0 0px rgba(255,255,255, 0.882) , 1095px 550px 0 0px rgba(255,255,255, 0.285) , 845px 711px 0 0px rgba(255,255,255, 0.531) , 20px 496px 0 0px rgba(255,255,255, 0.093) , 703px 1424px 0 0px rgba(255,255,255, 0.606) , 1235px 1431px 0 0px rgba(255,255,255, 0.653) , 624px 637px 0 0px rgba(255,255,255, 0.16) , 1377px 1591px 0 0px rgba(255,255,255, 0.339) , 1110px 36px 0 0px rgba(255,255,255, 0.245) , 1164px 1694px 0 0px rgba(255,255,255, 0.19) , 970px 1159px 0 0px rgba(255,255,255, 0.151) , 1004px 746px 0 0px rgba(255,255,255, 0.099) , 699px 410px 0 0px rgba(255,255,255, 0.671) , 478px 486px 0 0px rgba(255,255,255, 0.525) , 155px 1499px 0 0px rgba(255,255,255, 0.153) , 1356px 1035px 0 0px rgba(255,255,255, 0.079) , 94px 211px 0 0px rgba(255,255,255, 0.152) , 697px 1478px 0 0px rgba(255,255,255, 0.563);
  border-radius: 100px;
}
.sistema-solar div {
  top: 50%;
  left: 50%;
  border-radius: 1000px;
  position: absolute;
  z-index: 999;
}
.sistema-solar div:not(.sol) {
  border: 1px solid rgba(126, 127, 168, 0.4666666667);
}
.sistema-solar div:not(.sol):before {
  left: 50%;
  content: "";
  position: absolute;
  border-radius: 100px;
}

.sol {
  background: radial-gradient(ellipse at center, #ffd000 1%, #f9b700 39%, #f9b700 39%, #e06317 100%);
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border: 0 !important;
  background-position: -28px -130px;
  background-clip: padding-box;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercurio {
  height: 70px;
  width: 70px;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-animation: orb 7.1867343561s linear infinite;
          animation: orb 7.1867343561s linear infinite;
}
.mercurio:before {
  height: 4px;
  width: 4px;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(193, 174, 78, 0.6478873239) 52%, rgb(15, 124, 161) 100%);
  margin-top: -2px;
  margin-left: -2px;
}

.venus {
  height: 100px;
  width: 100px;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-animation: orb 18.4555338265s linear infinite;
          animation: orb 18.4555338265s linear infinite;
}
.venus:before {
  background: linear-gradient(90deg, rgb(36, 0, 0) 5%, rgba(255, 152, 0, 0.6478873239) 50%, rgba(255, 237, 0, 0.7161988375) 100%);
  margin-top: -4px;
  margin-left: -4px;
  height: 8px;
  width: 8px;
}

.tierra {
  height: 145px;
  width: 145px;
  margin-top: -72.5px;
  margin-left: -72.5px;
  -webkit-animation: orb 30s linear infinite;
          animation: orb 30s linear infinite;
}
.tierra:before {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(53, 255, 0, 0.6478873239) 21%, rgba(0, 53, 255, 0.7161988375) 100%, rgb(0, 53, 255) 100%, rgba(0, 53, 255, 0.7161988375) 100%);
  height: 6px;
  width: 6px;
  margin-top: -3px;
  margin-left: -3px;
}
.tierra:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  margin-top: -9px;
  top: 0px;
  margin-left: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.2440352158s linear infinite;
          animation: orb 2.2440352158s linear infinite;
}

.marte {
  height: 190px;
  width: 190px;
  margin-top: -95px;
  margin-left: -95px;
  -webkit-animation: orb 56.4261314589s linear infinite;
          animation: orb 56.4261314589s linear infinite;
}
.marte:before {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(147, 98, 0) 0%, rgb(159, 153, 141) 70%, rgb(255, 255, 255) 100%);
  margin-top: -2.5px;
  margin-left: -2.5px;
  height: 5px;
  width: 5px;
}

.jupiter {
  height: 340px;
  width: 340px;
  margin-top: -170px;
  margin-left: -170px;
  -webkit-animation: orb 355.7228171013s linear infinite;
          animation: orb 355.7228171013s linear infinite;
}
.jupiter:before {
  background: linear-gradient(0deg, rgb(96, 180, 181) 0%, rgb(184, 161, 113) 100%, rgb(253, 187, 45) 227%);
  margin-top: -9px;
  margin-left: -9px;
  height: 18px;
  width: 18px;
}

.saturno {
  height: 440px;
  width: 440px;
  margin-top: -220px;
  margin-left: -220px;
  -webkit-animation: orb 882.6952471456s linear infinite;
          animation: orb 882.6952471456s linear infinite;
}
.saturno:before {
  background: linear-gradient(0deg, rgb(117, 95, 63) 0%, rgb(250, 238, 148) 100%, rgb(218, 199, 159) 227%);
  margin-top: -6px;
  margin-left: -6px;
  height: 12px;
  width: 12px;
}
.saturno:after {
  position: absolute;
  content: "";
  height: 2.32%;
  width: 4.676%;
  left: 50%;
  top: 0;
  transform: rotateZ(-52deg);
  margin-top: -1.2%;
  margin-left: -2.3%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.6952471456s linear infinite;
          animation: orb 882.6952471456s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

.urano {
  height: 630px;
  width: 630px;
  margin-top: -315px;
  margin-left: -315px;
  -webkit-animation: orb 2512.4001967933s linear infinite;
          animation: orb 2512.4001967933s linear infinite;
}
.urano:before {
  background: radial-gradient(circle, rgb(199, 228, 242) 0%, rgb(63, 147, 249) 100%);
  margin-top: -5px;
  margin-left: -5px;
  height: 10px;
  width: 10px;
}

.neptuno {
  height: 780px;
  width: 780px;
  margin-top: -390px;
  margin-left: -390px;
  -webkit-animation: orb 4911.7838624549s linear infinite;
          animation: orb 4911.7838624549s linear infinite;
}
.neptuno:before {
  background: radial-gradient(circle, rgb(58, 185, 246) 0%, rgb(0, 90, 179) 71%, rgb(0, 111, 246) 100%);
  margin-top: -1.5px;
  margin-left: -1.5px;
  height: 3px;
  width: 3px;
}

@-webkit-keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=style.css.map */