@import url("https://fonts.googleapis.com/css2?family=Notable&family=Source+Code+Pro&display=swap");
*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar-customclass {
  background-color: #00010f;
}
.navbar-customclass .navbar-brand, .navbar-customclass .navbar-text {
  color: #ffffff;
}
.navbar-customclass .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
}
.navbar-customclass .nav-item.active .nav-link, .navbar-customclass .nav-item:hover .nav-link {
  color: skyblue;
}

body {
  min-height: 100vh;
  background-color: #000000;
  background: radial-gradient(ellipse at bottom, #12121e 0%, #050608 100%);
  background-attachment: fixed;
}

h2 {
  background-color: #12121e;
  color: #fff;
  overflow: hidden;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 100rem;
}

.heading {
  font-family: "Source Code Pro", monospace;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.5;
  text-align: center;
  padding: 3.5rem 0;
  color: #1a1a1a;
  text-transform: uppercase;
}
.heading span {
  display: block;
}

/*GALERIA*/
.galeria {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}
.galeria .galeria-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0, 2rem 0.2rem rgba(138, 137, 137, 0.4);
  overflow: hidden;
}
.galeria .galeria-imagen {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 400ms ease-out;
}
.galeria .galeria-imagen:hover {
  transform: scale(1.15);
}

@supports (display: grid) {
  .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 2rem;
  }
  .galeria,
.galeria-item {
    margin: 0;
  }
}
/*PLANETAS*/
.__planetas {
  font-family: "Source Code Pro", monospace;
  display: flex;
  background: #12121e;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}
.__planetas .row .col-sm-4 .text-center {
  flex: 1 0 24rem;
  margin: 1rem;
  background: #12121e;
  padding-right: 10px;
  color: #fff;
  padding-left: 10px;
  overflow: hidden;
}
.__planetas .__planetas .row {
  display: block;
  border-radius: 50%;
  width: 100;
  height: 100%;
  background: #12121e;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 400ms ease-out;
}
.__planetas .__planetas .row:hover {
  transform: scale(1.15);
}

.__planetas h2 {
  background-color: #12121e;
  color: #fff;
  padding: 0;
  margin: 0;
}

.__planetas h3 {
  color: #fff;
  float: left;
  overflow: hidden;
  background: #12121e;
  padding: 0;
}

@supports (display: grid) {
  .__planetas img {
    display: grid;
    border-radius: 50%;
    text-align: center;
    background: #12121e;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 1rem;
    border: 1px solid;
    width: 50px;
    height: 50px;
  }
  .__planetas,
.__planetas .col-sm-4 .text-center {
    margin: 0;
    background: #12121e;
    float: inline-start;
    width: 100%;
  }
}
/*LIBROS*/
.libros {
  font-family: "Source Code Pro", monospace;
}

.libros h2 {
  background-color: #12121e;
  color: #fff;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.libros h3 {
  overflow: hidden;
}

.libro1, .libro2, .libro3 {
  background-color: #12121e;
  color: #ebebeb;
}

.libros img {
  vertical-align: middle;
}

/*WEBB*/
.webb img {
  width: 100%;
  height: 100%;
}

.webb h3 {
  overflow: hidden;
  color: #ebebeb;
}

.webb p {
  color: #ebebeb;
}

/*FOOTER*/
#footer {
  overflow: hidden;
  background-color: #00010f;
  width: 100%;
  height: 2.3rem;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 1em;
  bottom: 0;
  position: relative;
  justify-content: center;
  display: flex;
  flex: 0 0 auto;
}

#footer ul li {
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
  justify-content: space-around;
}

.iconos a {
  color: aliceblue;
  padding: 1em;
  font-size: 2rem;
}

#footer p a {
  color: rgba(255, 0, 81, 0.817);
}

#footer p {
  font-weight: 0.5em;
  color: #fff;
}

#footer a:hover {
  color: skyblue;
}/*# sourceMappingURL=paginas.css.map */