@import url("https://fonts.googleapis.com/css2?family=Notable&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Notable&family=Source+Code+Pro&display=swap");
h2 {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  padding: 1rem 0;
  color: #cecdcd;
  text-transform: uppercase;
  overflow: hidden;
  background-color: linear-gradient(359deg, 241F31FF 0%, #050608 100%);
  margin: 0;
}

#footer {
  overflow: hidden;
  background-color: #000000;
  width: 100%;
  height: 2.3rem;
  flex-wrap: wrap;
  margin: 0 auto;
  font-size: 0.7em;
  bottom: 0;
  justify-content: center;
  display: flex;
  flex: 0 0 auto;
  position: fixed;
}
#footer ul li {
  list-style-type: none;
  display: inline-block;
  overflow: hidden;
  justify-content: space-around;
}

.iconos a {
  color: #cecdcd;
  padding: 1em;
  font-size: 1rem;
}

#footer p {
  font-weight: 0.3em;
  color: rgb(55, 48, 75);
  font-weight: bold;
  text-transform: lowercase;
  font-size: 0.6rem;
}
#footer p a {
  color: rgba(169, 3, 55, 0.619);
}
#footer a:hover {
  color: skyblue;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

body {
  font: normal 1em/1.45em "Source Code pro", monospace;
  -webkit-font-smoothing: antialiased;
  background: radial-gradient(75% 75% at 50% 50%, #241f31 2%, #050608 78%);
  background-attachment: fixed;
  color: #cecdcd;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url(file:///C:/Users/Natal/Downloads/menu.svg);
}

.navbar-brand:hover {
  color: skyblue;
}

.navbar-toggler .navbar-toggler-icon {
  color: #cecdcd;
}

.custom-toggler.navbar-toggler {
  outline: none !important;
}

.navbar-customclass {
  background-color: black;
}
.navbar-customclass .navbar-brand,
.navbar-customclass .navbar-text {
  color: #ffffff;
}
.navbar-customclass .navbar-brand .navbar-brand:hover,
.navbar-customclass .navbar-text .navbar-brand:hover {
  color: skyblue;
}
.navbar-customclass .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
}
.navbar-customclass .nav-item.active .nav-link, .navbar-customclass .nav-item:hover .nav-link {
  color: skyblue;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  text-transform: uppercase;
  font-family: "Source Code Pro", monospace;
  line-height: 1.6em;
  letter-spacing: 0.1em;
}

.sistema-solar {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: relative;
}
.sistema-solar:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  top: -2px;
  box-shadow: 132px 1419px 0 0px rgba(255, 255, 255, 0.137) , 729px 1513px 0 0px rgba(255,255,255, 0.661) , 1445px 563px 0 0px rgba(255,255,255, 0.846) , 418px 660px 0 0px rgba(255,255,255, 0.968) , 289px 25px 0 0px rgba(255,255,255, 0.351) , 880px 444px 0 0px rgba(255,255,255, 0.948) , 1305px 1537px 0 0px rgba(255,255,255, 0.237) , 689px 831px 0 0px rgba(255,255,255, 0.369) , 170px 230px 0 0px rgba(255,255,255, 0.661) , 1007px 845px 0 0px rgba(255,255,255, 0.362) , 1332px 1240px 0 0px rgba(255,255,255, 0.85) , 1493px 770px 0 0px rgba(255,255,255, 0.725) , 1463px 721px 0 0px rgba(255,255,255, 0.473) , 533px 153px 0 0px rgba(255,255,255, 0.695) , 1744px 1451px 0 0px rgba(255,255,255, 0.529) , 1630px 632px 0 0px rgba(255,255,255, 0.352) , 703px 1048px 0 0px rgba(255,255,255, 0.654) , 1681px 384px 0 0px rgba(255,255,255, 0.172) , 920px 1278px 0 0px rgba(255,255,255, 0.606) , 1375px 1358px 0 0px rgba(255,255,255, 0.45) , 543px 847px 0 0px rgba(255,255,255, 0.766) , 782px 87px 0 0px rgba(255,255,255, 0.887) , 1311px 981px 0 0px rgba(255,255,255, 0.762) , 1185px 805px 0 0px rgba(255,255,255, 0.091) , 576px 1165px 0 0px rgba(255,255,255, 0.4) , 862px 1610px 0 0px rgba(255,255,255, 0.739) , 1015px 872px 0 0px rgba(255,255,255, 0.925) , 18px 115px 0 0px rgba(255,255,255, 0.934) , 439px 984px 0 0px rgba(255,255,255, 0.412) , 1750px 99px 0 0px rgba(255,255,255, 0.302) , 1635px 1624px 0 0px rgba(255,255,255, 0.268) , 549px 757px 0 0px rgba(255,255,255, 0.026) , 807px 330px 0 0px rgba(255,255,255, 0.516) , 1326px 1292px 0 0px rgba(255,255,255, 0.934) , 1427px 556px 0 0px rgba(255,255,255, 0.805) , 612px 434px 0 0px rgba(255,255,255, 0.439) , 257px 663px 0 0px rgba(255,255,255, 0.094) , 324px 1737px 0 0px rgba(255,255,255, 0.223) , 706px 520px 0 0px rgba(255,255,255, 0.892) , 139px 529px 0 0px rgba(255,255,255, 0.648) , 1202px 571px 0 0px rgba(255,255,255, 0.645) , 98px 714px 0 0px rgba(255,255,255, 0.924) , 1621px 1016px 0 0px rgba(255,255,255, 0.47) , 310px 186px 0 0px rgba(255,255,255, 0.953) , 1257px 1556px 0 0px rgba(255,255,255, 0.078) , 308px 1270px 0 0px rgba(255,255,255, 0.711) , 1388px 711px 0 0px rgba(255,255,255, 0.02) , 839px 1058px 0 0px rgba(255,255,255, 0.718) , 801px 1232px 0 0px rgba(255,255,255, 0.982) , 899px 1044px 0 0px rgba(255,255,255, 0.34) , 900px 422px 0 0px rgba(255,255,255, 0.135) , 1064px 269px 0 0px rgba(255,255,255, 0.742) , 536px 655px 0 0px rgba(255,255,255, 0.278) , 1189px 757px 0 0px rgba(255,255,255, 0.546) , 79px 695px 0 0px rgba(255,255,255, 0.187) , 538px 1420px 0 0px rgba(255,255,255, 0.63) , 1062px 142px 0 0px rgba(255,255,255, 0.804) , 325px 189px 0 0px rgba(255,255,255, 0.813) , 1751px 973px 0 0px rgba(255,255,255, 0.683) , 943px 604px 0 0px rgba(255,255,255, 0.33) , 322px 1497px 0 0px rgba(255,255,255, 0.348) , 177px 1600px 0 0px rgba(255,255,255, 0.626) , 910px 832px 0 0px rgba(255,255,255, 0.74) , 728px 284px 0 0px rgba(255,255,255, 0.884) , 1149px 688px 0 0px rgba(255,255,255, 0.261) , 319px 1780px 0 0px rgba(255,255,255, 0.523) , 195px 482px 0 0px rgba(255,255,255, 0.08) , 1717px 293px 0 0px rgba(255,255,255, 0.769) , 1310px 1579px 0 0px rgba(255,255,255, 0.317) , 384px 567px 0 0px rgba(255,255,255, 0.519) , 794px 1146px 0 0px rgba(255,255,255, 0.553) , 1719px 253px 0 0px rgba(255,255,255, 0.239) , 619px 1741px 0 0px rgba(255,255,255, 0.15) , 923px 839px 0 0px rgba(255,255,255, 0.887) , 1706px 1433px 0 0px rgba(255,255,255, 0.072) , 132px 660px 0 0px rgba(255,255,255, 0.079) , 674px 141px 0 0px rgba(255,255,255, 0.729) , 1148px 1632px 0 0px rgba(255,255,255, 0.729) , 371px 617px 0 0px rgba(255,255,255, 0.522) , 1538px 64px 0 0px rgba(255,255,255, 0.396) , 1044px 869px 0 0px rgba(255,255,255, 0.05) , 1319px 1701px 0 0px rgba(255,255,255, 0.232) , 1748px 1637px 0 0px rgba(255,255,255, 0.866) , 1132px 481px 0 0px rgba(255,255,255, 0.455) , 781px 1374px 0 0px rgba(255,255,255, 0.671) , 1244px 1429px 0 0px rgba(255,255,255, 0.566) , 931px 47px 0 0px rgba(255,255,255, 0.003) , 551px 1600px 0 0px rgba(255,255,255, 0.429) , 966px 1477px 0 0px rgba(255,255,255, 0.324) , 468px 936px 0 0px rgba(255,255,255, 0.298) , 1530px 1576px 0 0px rgba(255,255,255, 0.713) , 1120px 330px 0 0px rgba(255,255,255, 0.096) , 640px 1777px 0 0px rgba(255,255,255, 0.027) , 17px 1553px 0 0px rgba(255,255,255, 0.562) , 253px 794px 0 0px rgba(255,255,255, 0.958) , 1094px 90px 0 0px rgba(255,255,255, 0.421) , 879px 354px 0 0px rgba(255,255,255, 0.84) , 759px 531px 0 0px rgba(255,255,255, 0.283) , 1318px 17px 0 0px rgba(255,255,255, 0.672) , 1698px 1335px 0 0px rgba(255,255,255, 0.71) , 399px 677px 0 0px rgba(255,255,255, 0.671) , 650px 1309px 0 0px rgba(255,255,255, 0.73) , 766px 816px 0 0px rgba(255,255,255, 0.936) , 74px 285px 0 0px rgba(255,255,255, 0.101) , 966px 728px 0 0px rgba(255,255,255, 0.592) , 616px 1216px 0 0px rgba(255,255,255, 0.91) , 1557px 1199px 0 0px rgba(255,255,255, 0.655) , 956px 1093px 0 0px rgba(255,255,255, 0.28) , 119px 420px 0 0px rgba(255,255,255, 0.722) , 1569px 692px 0 0px rgba(255,255,255, 0.16) , 1287px 863px 0 0px rgba(255,255,255, 0.313) , 814px 365px 0 0px rgba(255,255,255, 0.466) , 1342px 806px 0 0px rgba(255,255,255, 0.619) , 684px 1658px 0 0px rgba(255,255,255, 0.825) , 1487px 165px 0 0px rgba(255,255,255, 0.709) , 1488px 1242px 0 0px rgba(255,255,255, 0.99) , 1789px 1237px 0 0px rgba(255,255,255, 0.848) , 868px 1658px 0 0px rgba(255,255,255, 0.349) , 1410px 40px 0 0px rgba(255,255,255, 0.888) , 682px 1085px 0 0px rgba(255,255,255, 0.295) , 915px 1745px 0 0px rgba(255,255,255, 0.016) , 1086px 511px 0 0px rgba(255,255,255, 0.598) , 1722px 1485px 0 0px rgba(255,255,255, 0.157) , 560px 793px 0 0px rgba(255,255,255, 0.212) , 800px 1284px 0 0px rgba(255,255,255, 0.873) , 388px 1648px 0 0px rgba(255,255,255, 0.439) , 1541px 99px 0 0px rgba(255,255,255, 0.158) , 1763px 1777px 0 0px rgba(255,255,255, 0.023) , 1515px 198px 0 0px rgba(255,255,255, 0.992) , 360px 906px 0 0px rgba(255,255,255, 0.406) , 769px 818px 0 0px rgba(255,255,255, 0.604) , 1679px 1578px 0 0px rgba(255,255,255, 0.444) , 1674px 1386px 0 0px rgba(255,255,255, 0.126) , 1189px 526px 0 0px rgba(255,255,255, 0.074) , 574px 814px 0 0px rgba(255,255,255, 0.357) , 1760px 1429px 0 0px rgba(255,255,255, 0.248) , 1274px 452px 0 0px rgba(255,255,255, 0.994) , 1163px 1300px 0 0px rgba(255,255,255, 0.902) , 522px 1534px 0 0px rgba(255,255,255, 0.962) , 1150px 793px 0 0px rgba(255,255,255, 0.903) , 495px 1785px 0 0px rgba(255,255,255, 0.108) , 520px 309px 0 0px rgba(255,255,255, 0.096) , 1295px 1416px 0 0px rgba(255,255,255, 0.906) , 1385px 1594px 0 0px rgba(255,255,255, 0.325) , 113px 1008px 0 0px rgba(255,255,255, 0.236) , 367px 256px 0 0px rgba(255,255,255, 0.128) , 1372px 460px 0 0px rgba(255,255,255, 0.156) , 1410px 1134px 0 0px rgba(255,255,255, 0.795) , 48px 54px 0 0px rgba(255,255,255, 0.808) , 361px 204px 0 0px rgba(255,255,255, 0.49) , 834px 654px 0 0px rgba(255,255,255, 0.863) , 332px 1345px 0 0px rgba(255,255,255, 0.296) , 1639px 54px 0 0px rgba(255,255,255, 0.692) , 1781px 1762px 0 0px rgba(255,255,255, 0.186) , 386px 679px 0 0px rgba(255,255,255, 0.126) , 1709px 1420px 0 0px rgba(255,255,255, 0.508) , 813px 1008px 0 0px rgba(255,255,255, 0.883) , 985px 24px 0 0px rgba(255,255,255, 0.825) , 976px 533px 0 0px rgba(255,255,255, 0.636) , 1721px 328px 0 0px rgba(255,255,255, 0.984) , 220px 1324px 0 0px rgba(255,255,255, 0.254) , 1403px 796px 0 0px rgba(255,255,255, 0.433) , 1316px 128px 0 0px rgba(255,255,255, 0.332) , 442px 1086px 0 0px rgba(255,255,255, 0.871) , 230px 1244px 0 0px rgba(255,255,255, 0.634) , 592px 162px 0 0px rgba(255,255,255, 0.329) , 1698px 1797px 0 0px rgba(255,255,255, 0.861) , 1012px 1438px 0 0px rgba(255,255,255, 0.944) , 821px 1206px 0 0px rgba(255,255,255, 0.508) , 1688px 184px 0 0px rgba(255,255,255, 0.757) , 1251px 1657px 0 0px rgba(255,255,255, 0.361) , 779px 273px 0 0px rgba(255,255,255, 0.022) , 1668px 1393px 0 0px rgba(255,255,255, 0.437) , 977px 793px 0 0px rgba(255,255,255, 0.025) , 212px 1631px 0 0px rgba(255,255,255, 0.237) , 1648px 1552px 0 0px rgba(255,255,255, 0.304) , 1445px 537px 0 0px rgba(255,255,255, 0.976) , 1288px 1686px 0 0px rgba(255,255,255, 0.123) , 59px 1629px 0 0px rgba(255,255,255, 0.782) , 2px 1008px 0 0px rgba(255,255,255, 0.966) , 1681px 1329px 0 0px rgba(255,255,255, 0.631) , 376px 1751px 0 0px rgba(255,255,255, 0.172) , 574px 964px 0 0px rgba(255,255,255, 0.765) , 1759px 1416px 0 0px rgba(255,255,255, 0.655) , 269px 984px 0 0px rgba(255,255,255, 0.297) , 1413px 1527px 0 0px rgba(255,255,255, 0.891) , 539px 1093px 0 0px rgba(255,255,255, 0.727) , 279px 661px 0 0px rgba(255,255,255, 0.937) , 43px 221px 0 0px rgba(255,255,255, 0.022) , 1459px 1026px 0 0px rgba(255,255,255, 0.425) , 1257px 1346px 0 0px rgba(255,255,255, 0.283) , 953px 1532px 0 0px rgba(255,255,255, 0.2) , 51px 526px 0 0px rgba(255,255,255, 0.686) , 364px 1523px 0 0px rgba(255,255,255, 0.731) , 1270px 112px 0 0px rgba(255,255,255, 0.741) , 1210px 125px 0 0px rgba(255,255,255, 0.351) , 919px 1204px 0 0px rgba(255,255,255, 0.361) , 565px 565px 0 0px rgba(255,255,255, 0.79) , 1376px 718px 0 0px rgba(255,255,255, 0.355) , 554px 362px 0 0px rgba(255,255,255, 0.38) , 1176px 293px 0 0px rgba(255,255,255, 0.113) , 1640px 1444px 0 0px rgba(255,255,255, 0.571) , 98px 1272px 0 0px rgba(255,255,255, 0.665) , 678px 223px 0 0px rgba(255,255,255, 0.526) , 649px 449px 0 0px rgba(255,255,255, 0.119) , 622px 1403px 0 0px rgba(255,255,255, 0.328) , 516px 1152px 0 0px rgba(255,255,255, 0.686) , 598px 1532px 0 0px rgba(255,255,255, 0.032) , 1384px 1314px 0 0px rgba(255,255,255, 0.241) , 1119px 1140px 0 0px rgba(255,255,255, 0.62) , 82px 555px 0 0px rgba(255,255,255, 0.639) , 1060px 311px 0 0px rgba(255,255,255, 0.27) , 510px 518px 0 0px rgba(255,255,255, 0.139) , 1300px 1578px 0 0px rgba(255,255,255, 0.655) , 779px 778px 0 0px rgba(255,255,255, 0.706) , 970px 789px 0 0px rgba(255,255,255, 0.027) , 663px 570px 0 0px rgba(255,255,255, 0.901) , 1164px 342px 0 0px rgba(255,255,255, 0.342) , 1699px 856px 0 0px rgba(255,255,255, 0.086) , 1700px 743px 0 0px rgba(255,255,255, 0.77) , 1576px 672px 0 0px rgba(255,255,255, 0.194) , 192px 638px 0 0px rgba(255,255,255, 0.323) , 1395px 1552px 0 0px rgba(255,255,255, 0.406) , 1679px 760px 0 0px rgba(255,255,255, 0.336) , 1588px 828px 0 0px rgba(255,255,255, 0.621) , 780px 1749px 0 0px rgba(255,255,255, 0.426) , 1162px 1336px 0 0px rgba(255,255,255, 0.695) , 1039px 599px 0 0px rgba(255,255,255, 0.333) , 620px 1625px 0 0px rgba(255,255,255, 0.587) , 395px 722px 0 0px rgba(255,255,255, 0.438) , 967px 603px 0 0px rgba(255,255,255, 0.73) , 117px 145px 0 0px rgba(255,255,255, 0.914) , 934px 25px 0 0px rgba(255,255,255, 0.445) , 1543px 1694px 0 0px rgba(255,255,255, 0.077) , 1134px 1358px 0 0px rgba(255,255,255, 0.085) , 35px 1627px 0 0px rgba(255,255,255, 0.424) , 33px 655px 0 0px rgba(255,255,255, 0.564) , 1194px 632px 0 0px rgba(255,255,255, 0.722) , 1198px 645px 0 0px rgba(255,255,255, 0.563) , 1104px 1731px 0 0px rgba(255,255,255, 0.357) , 813px 1266px 0 0px rgba(255,255,255, 0.684) , 1497px 397px 0 0px rgba(255,255,255, 0.113) , 633px 1047px 0 0px rgba(255,255,255, 0.595) , 897px 401px 0 0px rgba(255,255,255, 0.615) , 147px 726px 0 0px rgba(255,255,255, 0.697) , 275px 1312px 0 0px rgba(255,255,255, 0.415) , 547px 1304px 0 0px rgba(255,255,255, 0.425) , 912px 372px 0 0px rgba(255,255,255, 0.743) , 103px 332px 0 0px rgba(255,255,255, 0.288) , 1248px 441px 0 0px rgba(255,255,255, 0.64) , 131px 623px 0 0px rgba(255,255,255, 0.838) , 81px 588px 0 0px rgba(255,255,255, 0.207) , 180px 497px 0 0px rgba(255,255,255, 0.659) , 226px 1318px 0 0px rgba(255,255,255, 0.527) , 496px 1746px 0 0px rgba(255,255,255, 0.251) , 1009px 1730px 0 0px rgba(255,255,255, 0.313) , 1360px 991px 0 0px rgba(255,255,255, 0.864) , 1729px 1699px 0 0px rgba(255,255,255, 0.581) , 85px 15px 0 0px rgba(255,255,255, 0.949) , 700px 1770px 0 0px rgba(255,255,255, 0.142) , 607px 636px 0 0px rgba(255,255,255, 0.216) , 374px 1170px 0 0px rgba(255,255,255, 0.964) , 473px 341px 0 0px rgba(255,255,255, 0.259) , 16px 1683px 0 0px rgba(255,255,255, 0.001) , 1442px 778px 0 0px rgba(255,255,255, 0.256) , 1023px 1144px 0 0px rgba(255,255,255, 0.111) , 999px 716px 0 0px rgba(255,255,255, 0.105) , 393px 1000px 0 0px rgba(255,255,255, 0.15) , 1274px 1581px 0 0px rgba(255,255,255, 0.787) , 1058px 1705px 0 0px rgba(255,255,255, 0.593) , 928px 106px 0 0px rgba(255,255,255, 0.033) , 511px 485px 0 0px rgba(255,255,255, 0.367) , 594px 622px 0 0px rgba(255,255,255, 0.204) , 464px 826px 0 0px rgba(255,255,255, 0.815) , 369px 944px 0 0px rgba(255,255,255, 0.809) , 648px 460px 0 0px rgba(255,255,255, 0.361) , 1103px 60px 0 0px rgba(255,255,255, 0.104) , 541px 395px 0 0px rgba(255,255,255, 0.881) , 229px 435px 0 0px rgba(255,255,255, 0.03) , 510px 1341px 0 0px rgba(255,255,255, 0.686) , 1244px 958px 0 0px rgba(255,255,255, 0.806) , 1760px 133px 0 0px rgba(255,255,255, 0.367) , 730px 1221px 0 0px rgba(255,255,255, 0.901) , 884px 773px 0 0px rgba(255,255,255, 0.963) , 1372px 764px 0 0px rgba(255,255,255, 0.633) , 553px 181px 0 0px rgba(255,255,255, 0.567) , 1070px 1027px 0 0px rgba(255,255,255, 0.935) , 464px 823px 0 0px rgba(255,255,255, 0.997) , 1443px 1089px 0 0px rgba(255,255,255, 0.654) , 1206px 648px 0 0px rgba(255,255,255, 0.284) , 1047px 1259px 0 0px rgba(255,255,255, 0.812) , 807px 375px 0 0px rgba(255,255,255, 0.216) , 572px 111px 0 0px rgba(255,255,255, 0.39) , 62px 221px 0 0px rgba(255,255,255, 0.138) , 800px 783px 0 0px rgba(255,255,255, 0.889) , 274px 744px 0 0px rgba(255,255,255, 0.035) , 544px 1153px 0 0px rgba(255,255,255, 0.87) , 1744px 960px 0 0px rgba(255,255,255, 0.323) , 657px 1675px 0 0px rgba(255,255,255, 0.392) , 328px 42px 0 0px rgba(255,255,255, 0.923) , 1666px 1666px 0 0px rgba(255,255,255, 0.97) , 1593px 1119px 0 0px rgba(255,255,255, 0.791) , 208px 1664px 0 0px rgba(255,255,255, 0.571) , 896px 1408px 0 0px rgba(255,255,255, 0.566) , 1148px 1715px 0 0px rgba(255,255,255, 0.01) , 117px 744px 0 0px rgba(255,255,255, 0.884) , 1170px 1017px 0 0px rgba(255,255,255, 0.702) , 1038px 1157px 0 0px rgba(255,255,255, 0.991) , 1200px 1800px 0 0px rgba(255,255,255, 0.764) , 1743px 446px 0 0px rgba(255,255,255, 0.325) , 271px 8px 0 0px rgba(255,255,255, 0.341) , 690px 1273px 0 0px rgba(255,255,255, 0.189) , 210px 1353px 0 0px rgba(255,255,255, 0.671) , 478px 1110px 0 0px rgba(255,255,255, 0.426) , 237px 558px 0 0px rgba(255,255,255, 0.116) , 55px 1044px 0 0px rgba(255,255,255, 0.6) , 764px 278px 0 0px rgba(255,255,255, 0.479) , 841px 1312px 0 0px rgba(255,255,255, 0.416) , 1415px 160px 0 0px rgba(255,255,255, 0.271) , 1795px 1124px 0 0px rgba(255,255,255, 0.599) , 1514px 628px 0 0px rgba(255,255,255, 0.871) , 383px 988px 0 0px rgba(255,255,255, 0.771) , 1207px 1416px 0 0px rgba(255,255,255, 0.029) , 510px 1722px 0 0px rgba(255,255,255, 0.007) , 1207px 1464px 0 0px rgba(255,255,255, 0.172) , 1740px 1238px 0 0px rgba(255,255,255, 0.579) , 842px 1758px 0 0px rgba(255,255,255, 0.965) , 981px 801px 0 0px rgba(255,255,255, 0.058) , 1495px 1732px 0 0px rgba(255,255,255, 0.318) , 1043px 1637px 0 0px rgba(255,255,255, 0.321) , 752px 677px 0 0px rgba(255,255,255, 0.805) , 1389px 120px 0 0px rgba(255,255,255, 0.967) , 1524px 733px 0 0px rgba(255,255,255, 0.946) , 1092px 1769px 0 0px rgba(255,255,255, 0.873) , 418px 301px 0 0px rgba(255,255,255, 0.391) , 856px 453px 0 0px rgba(255,255,255, 0.287) , 1011px 519px 0 0px rgba(255,255,255, 0.611) , 667px 854px 0 0px rgba(255,255,255, 0.708) , 971px 1753px 0 0px rgba(255,255,255, 0.516) , 491px 497px 0 0px rgba(255,255,255, 0.059) , 1222px 1050px 0 0px rgba(255,255,255, 0.54) , 1196px 52px 0 0px rgba(255,255,255, 0.462) , 1520px 331px 0 0px rgba(255,255,255, 0.955) , 1181px 1006px 0 0px rgba(255,255,255, 0.988) , 827px 261px 0 0px rgba(255,255,255, 0.982) , 1077px 126px 0 0px rgba(255,255,255, 0.376) , 1231px 1617px 0 0px rgba(255,255,255, 0.163) , 984px 1316px 0 0px rgba(255,255,255, 0.039) , 647px 1378px 0 0px rgba(255,255,255, 0.447) , 124px 1620px 0 0px rgba(255,255,255, 0.888) , 1499px 124px 0 0px rgba(255,255,255, 0.867) , 1519px 989px 0 0px rgba(255,255,255, 0.916) , 79px 375px 0 0px rgba(255,255,255, 0.186) , 566px 1257px 0 0px rgba(255,255,255, 0.381) , 450px 893px 0 0px rgba(255,255,255, 0.489) , 156px 1414px 0 0px rgba(255,255,255, 0.216) , 1018px 801px 0 0px rgba(255,255,255, 0.825) , 1500px 317px 0 0px rgba(255,255,255, 0.421) , 483px 1012px 0 0px rgba(255,255,255, 0.726) , 1271px 185px 0 0px rgba(255,255,255, 0.154) , 1721px 450px 0 0px rgba(255,255,255, 0.747) , 1358px 216px 0 0px rgba(255,255,255, 0.044) , 1372px 1766px 0 0px rgba(255,255,255, 0.255) , 1325px 1612px 0 0px rgba(255,255,255, 0.169) , 1620px 203px 0 0px rgba(255,255,255, 0.964) , 1732px 823px 0 0px rgba(255,255,255, 0.568) , 1070px 912px 0 0px rgba(255,255,255, 0.355) , 31px 1188px 0 0px rgba(255,255,255, 0.53) , 1800px 1165px 0 0px rgba(255,255,255, 0.573) , 53px 328px 0 0px rgba(255,255,255, 0.521) , 1363px 828px 0 0px rgba(255,255,255, 0.88) , 1553px 741px 0 0px rgba(255,255,255, 0.097) , 1391px 166px 0 0px rgba(255,255,255, 0.602) , 1609px 914px 0 0px rgba(255,255,255, 0.894) , 1194px 1193px 0 0px rgba(255,255,255, 0.638) , 1341px 1622px 0 0px rgba(255,255,255, 0.798) , 656px 1331px 0 0px rgba(255,255,255, 0.092) , 1265px 84px 0 0px rgba(255,255,255, 0.637) , 877px 468px 0 0px rgba(255,255,255, 0.97) , 1719px 209px 0 0px rgba(255,255,255, 0.347) , 1293px 344px 0 0px rgba(255,255,255, 0.257) , 1385px 1366px 0 0px rgba(255,255,255, 0.543) , 753px 499px 0 0px rgba(255,255,255, 0.481) , 1050px 89px 0 0px rgba(255,255,255, 0.51) , 1010px 429px 0 0px rgba(255,255,255, 0.802) , 843px 1349px 0 0px rgba(255,255,255, 0.054) , 1206px 1565px 0 0px rgba(255,255,255, 0.366) , 757px 1717px 0 0px rgba(255,255,255, 0.794) , 101px 355px 0 0px rgba(255,255,255, 0.669) , 375px 542px 0 0px rgba(255,255,255, 0.489) , 150px 786px 0 0px rgba(255,255,255, 0.619) , 318px 1049px 0 0px rgba(255,255,255, 0.249) , 1008px 772px 0 0px rgba(255,255,255, 0.065) , 1063px 1385px 0 0px rgba(255,255,255, 0.764) , 334px 1598px 0 0px rgba(255,255,255, 0.303) , 581px 1718px 0 0px rgba(255,255,255, 0.825) , 1419px 1090px 0 0px rgba(255,255,255, 0.874) , 79px 1242px 0 0px rgba(255,255,255, 0.769) , 108px 389px 0 0px rgba(255,255,255, 0.791) , 1471px 1652px 0 0px rgba(255,255,255, 0.984) , 1146px 585px 0 0px rgba(255,255,255, 0.277) , 1251px 56px 0 0px rgba(255,255,255, 0.011) , 148px 1286px 0 0px rgba(255,255,255, 0.286) , 1583px 260px 0 0px rgba(255,255,255, 0.508) , 1273px 1728px 0 0px rgba(255,255,255, 0.011) , 1323px 840px 0 0px rgba(255,255,255, 0.282) , 909px 705px 0 0px rgba(255,255,255, 0.036) , 345px 780px 0 0px rgba(255,255,255, 0.072) , 443px 421px 0 0px rgba(255,255,255, 0.2) , 1595px 1651px 0 0px rgba(255,255,255, 0.391) , 272px 985px 0 0px rgba(255,255,255, 0.478) , 1416px 267px 0 0px rgba(255,255,255, 0.098) , 488px 39px 0 0px rgba(255,255,255, 0.304) , 844px 571px 0 0px rgba(255,255,255, 0.91) , 1077px 287px 0 0px rgba(255,255,255, 0.495) , 537px 1620px 0 0px rgba(255,255,255, 0.333) , 1550px 1682px 0 0px rgba(255,255,255, 0.334) , 976px 536px 0 0px rgba(255,255,255, 0.387) , 1305px 1713px 0 0px rgba(255,255,255, 0.611) , 856px 115px 0 0px rgba(255,255,255, 0.489) , 466px 631px 0 0px rgba(255,255,255, 0.293) , 879px 1592px 0 0px rgba(255,255,255, 0.379) , 187px 4px 0 0px rgba(255,255,255, 0.06) , 977px 115px 0 0px rgba(255,255,255, 0.679) , 281px 473px 0 0px rgba(255,255,255, 0.763) , 1399px 716px 0 0px rgba(255,255,255, 0.482) , 1167px 1660px 0 0px rgba(255,255,255, 0.946) , 23px 411px 0 0px rgba(255,255,255, 0.333) , 796px 1347px 0 0px rgba(255,255,255, 0.647) , 936px 132px 0 0px rgba(255,255,255, 0.725) , 918px 1406px 0 0px rgba(255,255,255, 0.896) , 520px 1748px 0 0px rgba(255,255,255, 0.77) , 1484px 1241px 0 0px rgba(255,255,255, 0.247) , 1513px 476px 0 0px rgba(255,255,255, 0.744) , 865px 972px 0 0px rgba(255,255,255, 0.151) , 260px 1168px 0 0px rgba(255,255,255, 0.672) , 143px 1441px 0 0px rgba(255,255,255, 0.628) , 788px 152px 0 0px rgba(255,255,255, 0.652) , 778px 1140px 0 0px rgba(255,255,255, 0.96) , 949px 794px 0 0px rgba(255,255,255, 0.081) , 129px 667px 0 0px rgba(255,255,255, 0.136) , 176px 97px 0 0px rgba(255,255,255, 0.861) , 727px 857px 0 0px rgba(255,255,255, 0.333) , 1796px 1648px 0 0px rgba(255,255,255, 0.695) , 1319px 1524px 0 0px rgba(255,255,255, 0.892) , 430px 1623px 0 0px rgba(255,255,255, 0.145) , 536px 910px 0 0px rgba(255,255,255, 0.491) , 27px 1381px 0 0px rgba(255,255,255, 0.039) , 1353px 779px 0 0px rgba(255,255,255, 0.414) , 1560px 490px 0 0px rgba(255,255,255, 0.04) , 1035px 1535px 0 0px rgba(255,255,255, 0.44) , 1307px 1531px 0 0px rgba(255,255,255, 0.835) , 487px 714px 0 0px rgba(255,255,255, 0.441) , 1422px 1300px 0 0px rgba(255,255,255, 0.289) , 346px 358px 0 0px rgba(255,255,255, 0.001) , 1116px 68px 0 0px rgba(255,255,255, 0.863) , 218px 496px 0 0px rgba(255,255,255, 0.176) , 1166px 346px 0 0px rgba(255,255,255, 0.373) , 1187px 913px 0 0px rgba(255,255,255, 0.134) , 66px 396px 0 0px rgba(255,255,255, 0.214) , 1733px 1500px 0 0px rgba(255,255,255, 0.935) , 1014px 1092px 0 0px rgba(255,255,255, 0.25) , 1651px 1248px 0 0px rgba(255,255,255, 0.55) , 857px 1376px 0 0px rgba(255,255,255, 0.212) , 263px 499px 0 0px rgba(255,255,255, 0.621) , 1000px 1105px 0 0px rgba(255,255,255, 0.305) , 330px 263px 0 0px rgba(255,255,255, 0.843) , 868px 880px 0 0px rgba(255,255,255, 0.559) , 589px 563px 0 0px rgba(255,255,255, 0.388) , 791px 86px 0 0px rgba(255,255,255, 0.06) , 90px 166px 0 0px rgba(255,255,255, 0.888) , 1627px 213px 0 0px rgba(255,255,255, 0.139) , 744px 735px 0 0px rgba(255,255,255, 0.363) , 1581px 1647px 0 0px rgba(255,255,255, 0.032) , 342px 847px 0 0px rgba(255,255,255, 0.494) , 1424px 35px 0 0px rgba(255,255,255, 0.097) , 1077px 405px 0 0px rgba(255,255,255, 0.746) , 119px 515px 0 0px rgba(255,255,255, 0.594) , 1641px 399px 0 0px rgba(255,255,255, 0.806) , 1123px 684px 0 0px rgba(255,255,255, 0.433) , 1632px 1179px 0 0px rgba(255,255,255, 0.46) , 715px 947px 0 0px rgba(255,255,255, 0.52) , 94px 1373px 0 0px rgba(255,255,255, 0.569) , 1265px 495px 0 0px rgba(255,255,255, 0.309) , 918px 257px 0 0px rgba(255,255,255, 0.08) , 278px 1703px 0 0px rgba(255,255,255, 0.012) , 687px 299px 0 0px rgba(255,255,255, 0.417) , 1128px 290px 0 0px rgba(255,255,255, 0.001) , 152px 336px 0 0px rgba(255,255,255, 0.401) , 621px 918px 0 0px rgba(255,255,255, 0.519) , 1692px 396px 0 0px rgba(255,255,255, 0.385) , 194px 1250px 0 0px rgba(255,255,255, 0.74) , 760px 412px 0 0px rgba(255,255,255, 0.262) , 1691px 1044px 0 0px rgba(255,255,255, 0.693) , 1352px 116px 0 0px rgba(255,255,255, 0.096) , 960px 1791px 0 0px rgba(255,255,255, 0.724) , 693px 1473px 0 0px rgba(255,255,255, 0.596) , 587px 429px 0 0px rgba(255,255,255, 0.979) , 282px 752px 0 0px rgba(255,255,255, 0.718) , 1462px 1127px 0 0px rgba(255,255,255, 0.408);
  border-radius: 100px;
}
.sistema-solar div {
  top: 50%;
  left: 50%;
  border-radius: 1000px;
  position: absolute;
  justify-content: center;
  z-index: 999;
}
.sistema-solar div:not(.sol) {
  border: 1px solid rgba(46, 46, 76, 0.2352941176);
}
.sistema-solar div:not(.sol):before {
  left: 50%;
  content: "";
  position: absolute;
  border-radius: 100px;
}

.sol {
  background: radial-gradient(ellipse at center, #ffde49 1%, #f9aa00 39%, #ffce48 39%, #ff751f 100%);
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border: 0 !important;
  background-position: -28px -130px;
  background-clip: padding-box;
  background-size: 175%;
  box-shadow: 0 0 10px 2px rgba(255, 107, 0, 0.4), 0 0 22px 11px rgba(255, 203, 0, 0.13);
}

.mercurio {
  height: 80px;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
  -webkit-animation: orb 7.1947291217s linear infinite;
          animation: orb 7.1947291217s linear infinite;
}
.mercurio:before {
  height: 5px;
  width: 5px;
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(193, 174, 78, 0.6478873239) 52%, rgb(15, 124, 161) 100%);
  margin-top: -2.5px;
  margin-left: -2.5px;
}

.venus {
  height: 110px;
  width: 110px;
  margin-top: -55px;
  margin-left: -55px;
  -webkit-animation: orb 18.4549729869s linear infinite;
          animation: orb 18.4549729869s linear infinite;
}
.venus:before {
  background: linear-gradient(90deg, rgb(36, 0, 0) 5%, rgba(255, 152, 0, 0.6478873239) 50%, rgba(255, 237, 0, 0.7161988375) 100%);
  margin-top: -4.5px;
  margin-left: -4.5px;
  height: 9px;
  width: 9px;
}

.tierra {
  height: 155px;
  width: 155px;
  margin-top: -77.5px;
  margin-left: -77.5px;
  -webkit-animation: orb 29.9990883391s linear infinite;
          animation: orb 29.9990883391s linear infinite;
}
.tierra:before {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(53, 255, 0, 0.6478873239) 21%, rgba(0, 53, 255, 0.7161988375) 100%, rgb(0, 53, 255) 100%, rgba(0, 53, 255, 0.7161988375) 100%);
  height: 9.5px;
  width: 9.5px;
  margin-top: -4.75px;
  margin-left: -4.75px;
}
.tierra:after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  margin-top: -9px;
  top: 0px;
  margin-left: -9px;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
  -webkit-animation: orb 2.2439670225s linear infinite;
          animation: orb 2.2439670225s linear infinite;
}

.marte {
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  -webkit-animation: orb 56.4244167424s linear infinite;
          animation: orb 56.4244167424s linear infinite;
}
.marte:before {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(147, 98, 0) 0%, rgb(159, 153, 141) 70%, rgb(255, 255, 255) 100%);
  margin-top: -3.5px;
  margin-left: -3.5px;
  height: 7px;
  width: 7px;
}

.jupiter {
  height: 305px;
  width: 305px;
  margin-top: -152.5px;
  margin-left: -152.5px;
  -webkit-animation: orb 355.7120071487s linear infinite;
          animation: orb 355.7120071487s linear infinite;
}
.jupiter:before {
  background: linear-gradient(0deg, rgb(96, 180, 181) 0%, rgb(184, 161, 113) 100%, rgb(253, 187, 45) 227%);
  margin-top: -15px;
  margin-left: -15px;
  height: 30px;
  width: 30px;
}

.saturno {
  height: 430px;
  width: 430px;
  margin-top: -215px;
  margin-left: -215px;
  -webkit-animation: orb 882.6684231881s linear infinite;
          animation: orb 882.6684231881s linear infinite;
}
.saturno:before {
  background: linear-gradient(0deg, rgb(117, 95, 63) 0%, rgb(250, 238, 148) 100%, rgb(218, 199, 159) 227%);
  margin-top: -9px;
  margin-left: -9px;
  height: 18px;
  width: 18px;
}
.saturno:after {
  position: absolute;
  content: "";
  height: 2.32%;
  width: 4.676%;
  left: 50%;
  top: 0;
  transform: rotateZ(-52deg);
  margin-top: -1.2%;
  margin-left: -2.3%;
  border-radius: 50% 50% 50% 50%;
  box-shadow: 0 1px 1px #987641, 3px 1px 0 #987641, -3px 1px 0 #987641;
  -webkit-animation: orb 882.6684231881s linear infinite;
          animation: orb 882.6684231881s linear infinite;
  animation-direction: reverse;
  transform-origin: 52% 60%;
}

.urano {
  height: 580px;
  width: 580px;
  margin-top: -290px;
  margin-left: -290px;
  -webkit-animation: orb 2512.3238482274s linear infinite;
          animation: orb 2512.3238482274s linear infinite;
}
.urano:before {
  background: radial-gradient(circle, rgb(199, 228, 242) 0%, rgb(63, 147, 249) 100%);
  margin-top: -7px;
  margin-left: -7px;
  height: 14px;
  width: 14px;
}

.neptuno {
  height: 710px;
  width: 710px;
  margin-top: -355px;
  margin-left: -355px;
  -webkit-animation-name: orb;
          animation-name: orb;
  -webkit-animation: orb 4911.634599748s linear infinite;
          animation: orb 4911.634599748s linear infinite;
}
.neptuno:before {
  background: radial-gradient(circle, rgb(58, 185, 246) 0%, rgb(0, 90, 179) 71%, rgb(0, 111, 246) 100%);
  margin-top: -5px;
  margin-left: -5px;
  height: 10px;
  width: 10px;
}

@-webkit-keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/*GALERIA*/
.galeria {
  background-color: radial-gradient(75% 75% at 50% 50%, #241f31 2%, #050608 78%);
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}
.galeria .col-xl-3.col-md-6.col-sm-12.imggaleria {
  padding: 0;
}
.galeria .galeria img {
  display: block;
  padding: 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  transition: transform 400ms ease-out;
}
.galeria .galeria img:hover {
  transform: scale(1.15);
}
@supports (display: grid) {
  .galeria .galeria {
    display: grid;
    -o-object-fit: cover;
       object-fit: cover;
    grid-gap: 0;
  }
}

/*PLANETAS*/
.planetas .body {
  display: block;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.5s ease-out;
  box-shadow: -0.5vh 0 0.5vh rgba(255, 255, 200, 0.2);
}
.planetas .body .planetas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #010110;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}
.planetas .body:hover {
  transform: translateY(-50%) scale(1.2);
}
.planetas .body:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-image: radial-gradient(circle farthest-corner at 25% 25%, transparent, rgb(0, 0, 0));
  box-shadow: inset 0 1vh 2vh rgba(255, 255, 200, 0.3), inset 1.5vh -0.5vh 3vh rgba(0, 0, 0, 0.3), inset -4vh -1vh 3vh rgba(0, 0, 0, 0.3);
}
.planetas .body .handle {
  position: absolute;
  top: calc(100% + 2vw);
  left: 50%;
  padding: 1vw;
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.1);
  transform: translateX(-50%);
  transition: color 0.2s ease-in-out;
}
.planetas .body:hover .handle {
  color: rgba(255, 255, 255, 0.9);
}

.planetas ._sol {
  width: 30vw;
  height: 30vw;
  left: -22vw;
  background-color: orange;
}
.planetas ._sol:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  box-shadow: 0 0 5vw red;
  -webkit-animation: sol 5s infinite alternate;
          animation: sol 5s infinite alternate;
  filter: blur(3vw);
}
.planetas ._sol:after {
  background-image: radial-gradient(circle farthest-corner at 25% 25%, transparent, rgba(255, 255, 255, 0.5));
  box-shadow: 0 0 12vw rgba(254, 198, 83, 0.8), 0 0 5vw #fab62d, 0 0 2vw #fffebd, inset 0 0 6vw #db570b;
}

@-webkit-keyframes sol {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes sol {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
._mercurio {
  width: 0.25vw;
  height: 0.25vw;
  left: 16vw;
}
._mercurio:after {
  background-color: gray;
}

._venus {
  width: 1vw;
  height: 1vw;
  left: 20vw;
}
._venus:after {
  background-color: lightyellow;
}

._tierra {
  width: 1.2vw;
  height: 1.2vw;
  left: 24vw;
}
._tierra:after {
  background-color: royalblue;
}

._marte {
  width: 0.7vw;
  height: 0.7vw;
  left: 32vw;
}
._marte:after {
  background-color: indianred;
}

._jupiter {
  width: 9vw;
  height: 9vw;
  left: 45vw;
}
._jupiter:after {
  background-color: sandybrown;
  background-image: linear-gradient(-16deg, rgba(0, 0, 0, 0.1), hsla(39.8562348237deg, 0.1053968904%, 41.679731322%, 0.0691793675), hsla(39.8247624351deg, 0.1197020313%, 22.621765895%, 0.1596405196), hsla(3.4608741839deg, 0.4473225263%, 45.4336327741%, 0.1029590389), hsla(2.6849500836deg, 0.0531634768%, 37.2116834532%, 0.3239491089), hsla(37.7864597006deg, 0.3745909248%, 23.7937606715%, 0.3462832679), hsla(9.0482935135deg, 0.2500014974%, 30.0496792175%, 0.4729022477), hsla(26.8079053291deg, 0.2873963658%, 45.0709252746%, 0.1119059621), hsla(37.3508890049deg, 0.2486378535%, 49.9589952805%, 0.2791754636), hsla(21.6114111231deg, 0.0861720918%, 31.6810636374%, 0.1948636874), hsla(20.4404855336deg, 0.2518444386%, 42.6480120199%, 0.3266600907), hsla(4.6611216299deg, 0.2804283051%, 47.4829630199%, 0.4219928824), hsla(21.890963675deg, 0.4189426597%, 48.6265563524%, 0.1927235277), hsla(32.7591192284deg, 0.0821144542%, 44.8570442807%, 0.0787172817), hsla(42.8813884004deg, 0.4932888782%, 40.5028112127%, 0.2708442716), hsla(40.3336937273deg, 0.3882620639%, 30.6807470055%, 0.4251052896), hsla(31.8929143667deg, 0.2993463808%, 45.2387604491%, 0.002371568), hsla(4.4899508493deg, 0.3448157104%, 35.1318507922%, 0.1772913936), hsla(4.8985247864deg, 0.2330060724%, 26.8663453983%, 0.1154509463), hsla(0.4153371712deg, 0.4604920044%, 22.8156612332%, 0.3897618177), hsla(16.5848883657deg, 0.4250348385%, 46.193875041%, 0.2194162883), hsla(28.6297514402deg, 0.0038594537%, 48.4943665605%, 0.145538373), hsla(30.2852698294deg, 0.3988081286%, 43.3842261979%, 0.3806905023), hsla(13.3228496027deg, 0.4415628549%, 24.0158516783%, 0.1829322348), hsla(8.7702412867deg, 0.1508430383%, 46.0028102466%, 0.0902448145), hsla(19.4875691106deg, 0.0348773813%, 25.5880690789%, 0.3793374887), hsla(2.332507968deg, 0.2735778852%, 21.2733431521%, 0.0340122934), hsla(18.9469246825deg, 0.4545278905%, 31.2512335048%, 0.418959878), hsla(6.5868770524deg, 0.2458638276%, 36.1938685329%, 0.3915178328), hsla(22.3599504736deg, 0.1624272413%, 49.9988336677%, 0.4637056742), hsla(33.9281782306deg, 0.0932972094%, 45.1662385375%, 0.4605870291));
  background-size: 100% 100%;
  box-shadow: inset 0 0 3vw rgba(0, 0, 0, 0.7), inset -2vw -2vw 4vw rgba(0, 0, 0, 0.5), inset -0.5vw -0.5vw 1vw rgba(0, 0, 0, 0.5);
}

._saturno {
  width: 6vw;
  height: 6vw;
  left: 64vw;
}
._saturno:after {
  background-color: tan;
  background-image: linear-gradient(-16deg, rgba(0, 0, 0, 0.1), hsla(38.1218242116deg, 0.2271179959%, 35.1003046669%, 0.4805858737), hsla(43.0482188877deg, 0.2839780289%, 35.322461647%, 0.1035209979), hsla(34.5303733943deg, 0.4752861537%, 24.9776378169%, 0.3912266533), hsla(8.2171665538deg, 0.2373575335%, 41.1310001804%, 0.2357381409), hsla(37.4292102468deg, 0.2095740243%, 34.4463837844%, 0.4036042613), hsla(13.1523010951deg, 0.2442330087%, 35.0969019328%, 0.3938706639), hsla(12.9130187306deg, 0.3605778336%, 20.4017376051%, 0.0023369628), hsla(44.5539587703deg, 0.2887569943%, 22.5901820019%, 0.1391070343), hsla(17.19900391deg, 0.1452654799%, 23.2269121599%, 0.1553907465), hsla(14.2322070162deg, 0.0540293523%, 24.3751423173%, 0.2943302785), hsla(16.4298528799deg, 0.4868832966%, 44.4977789608%, 0.0583778149), hsla(20.000420011deg, 0.0960740621%, 36.4563746084%, 0.3023195359), hsla(49.2324049284deg, 0.0861117418%, 37.4102447078%, 0.0894148101), hsla(22.8126275726deg, 0.4710362349%, 33.6407635571%, 0.4658839357), hsla(17.2144815979deg, 0.3774701636%, 47.8316716681%, 0.4798545152), hsla(38.8750605251deg, 0.4841016395%, 46.6981357013%, 0.3028585648), hsla(44.603726934deg, 0.0618483054%, 28.470182545%, 0.2021677011), hsla(0.723994813deg, 0.0255435354%, 30.1213920628%, 0.0373973276), hsla(47.541113162deg, 0.4816090518%, 28.0950114262%, 0.3927995848), hsla(10.0169464778deg, 0.4011885056%, 25.9699850084%, 0.3458220546), hsla(49.8840778272deg, 0.1707973539%, 21.2244914808%, 0.1735908999), hsla(45.3859015122deg, 0.3265605028%, 27.5565232965%, 0.3930977094), hsla(7.1500043767deg, 0.2111732666%, 42.1147201797%, 0.2329533491), hsla(28.4944436069deg, 0.2848536054%, 39.4954382774%, 0.2342665942), hsla(46.6051831656deg, 0.326945975%, 26.9321100068%, 0.434315518), hsla(19.1776426343deg, 0.2303616874%, 26.833224933%, 0.2457195638), hsla(17.3399098049deg, 0.3963689767%, 31.516986868%, 0.4305810008), hsla(16.6695172763deg, 0.242837963%, 22.4545904714%, 0.0546611816), hsla(8.7766715298deg, 0.3810679289%, 47.0899821567%, 0.0035137623), hsla(13.2716872982deg, 0.0348660545%, 41.9927796559%, 0.1958428505));
  background-size: 100% 100%;
  box-shadow: inset 0 0 3vw rgba(0, 0, 0, 0.7), inset -2vw -2vw 4vw rgba(0, 0, 0, 0.5), inset -0.5vw -0.5vw 1vw rgba(0, 0, 0, 0.5);
}
._saturno .ring {
  content: "";
  position: absolute;
  top: -4vh;
  left: -4vh;
  right: -4vh;
  bottom: -4vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.2)), radial-gradient(circle farthest-corner at 50% 50%, transparent 40%, peachpuff 46%, tan, tan, transparent, tan, tan, tan, peachpuff, tan, bisque, bisque, saddlebrown, cornsilk, tan, blanchedalmond, bisque, tan, cornsilk, transparent);
  border-radius: 100%;
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 60%);
          clip-path: polygon(0 100%, 100% 100%, 100% 40%, 0 60%);
  transform: rotateX(77deg) rotateY(-16deg);
}
._saturno .ring.top {
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
          clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
  transform: rotateX(77deg) rotateY(-16deg);
}

._urano {
  width: 3.5vw;
  height: 3.5vw;
  left: 80vw;
  background-color: cornflowerblue;
}

._neptuno {
  width: 3vw;
  height: 3vw;
  left: 90vw;
  background-color: dodgerblue;
}

.modals .page {
  position: absolute;
  z-index: 2;
  top: 3vw;
  left: 3vw;
  bottom: 3vw;
  width: 20vw;
  padding: 1vw;
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 0.5rem;
  font-weight: bolder;
  transform: translateX(-30vw);
  transition: transform 0.2s ease-in-out;
}
.modals .page:target {
  transform: translateX(0);
  background-color: rgb(55, 48, 75);
}
.modals .page:after {
  display: block;
  margin-top: 2vw;
  content: "Cerrar";
}

/*LIBROS*/
.libros {
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
}
.libros h3 {
  overflow: hidden;
}
.libros p {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.libros .autor1, .libros .autor2, .libros .autor3, .libros .autor4 {
  font-size: 1.8rem;
}

.libro1,
.libro2,
.libro3,
.libro4 {
  background-color: radial-gradient(75% 75% at 50% 50%, #241f31 2%, #050608 78%);
  color: #cecdcd;
}
.libro1 h3,
.libro2 h3,
.libro3 h3,
.libro4 h3 {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgb(55, 48, 75);
}

.libros img {
  vertical-align: baseline;
}

/*WEBB*/
.webb {
  margin: auto;
  padding: auto;
}
.webb img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem 0;
}
.webb h3 {
  overflow: hidden;
  background-color: rgb(55, 48, 75);
  font-size: 0.9rem;
  color: #cecdcd;
  font-weight: bolder;
  line-height: 1;
  margin: 0;
  padding: 1rem 0;
}
.webb p {
  color: #cecdcd;
  line-height: 1;
  margin: 0;
  padding: 1rem 0;
}/*# sourceMappingURL=style.css.map */